.jumbotron h1, .jumbotron p {
	color: #FFF;
}

.col-md-4 img {
	border-radius: 5px;
}

.card-group {
  margin-top: 20px;
}

/*these sections were needed for floating navbar to 
	jump to the right location on the page */
#home:before { 
  display: block; 
  content: " "; 
  margin-top: -40px; 
  height: 40px; 
  visibility: hidden; 
}

#about:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}

#showtimes:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}

/*this makes the navbar-brand icon disappear when the screen starts to collapse*/
@media only screen and (max-width: 999px) {
	.navbar-brand {
		display: none;
		visibility: hidden;
	}
}